MyTube/MyTube/MyTube/bin/
MyTube/MyTube/MyTube/obj/
MyTube/MyTube/MyTube.Android/bin/
MyTube/MyTube/MyTube.Android/obj/
MyTube/MyTube/MyTube.iOS/bin/
MyTube/MyTube/MyTube.iOS/obj/
MyTube/MyTube/MyTube.UWP/bin/
MyTube/MyTube/MyTube.UWP/obj/
